#include <optional>

#include <nlohmann/json.hpp>

using json = nlohmann::json;
using std::optional;

namespace HADomains
{
{% for domain, services in result.items() %}
// START HEADER FOR {{ domain | title }}

class {{ domain | title }}
{
{%- for name, desc in services.items() %}
  // {{ desc.name }}
  // {{ desc.description }}
  class {{ name }}_args
  {
{%- for field in desc.fields.keys() %}
    optional<json> {{ field }};
{%- endfor %}
  };
  void {% if name == 'delete' %}_{% endif %}{{ name }}(const {{ name }}_args& args);
{% endfor -%}
};
{% endfor %}
}
